nodered/flow.json
[{"id":"8276b8b854912980","type":"tab","label":"Flow 4","disabled":false,"info":"","env":[]},{"id":"7ee4a657e0ce38be","type":"mqtt in","z":"8276b8b854912980","name":"Distance Bol","topic":"petfeeder/bol","qos":"0","datatype":"auto-detect","broker":"8c2ef22a8b0d0d46","nl":false,"rap":false,"inputs":0,"x":1030,"y":160,"wires":[["967cd3b697127f04","34a9a1844834aea4"]]},{"id":"850652c121458bde","type":"mqtt in","z":"8276b8b854912980","name":"Reservoir","topic":"petfeeder/reservoir","qos":"0","broker":"8c2ef22a8b0d0d46","inputs":0,"x":1030,"y":220,"wires":[["157201739f96546b","bf67d20bebe72a66","e40d77f7e8326d34"]]},{"id":"9a8f88d373648aab","type":"mqtt in","z":"8276b8b854912980","name":"Conso (g)","topic":"petfeeder/consommation","qos":"0","broker":"8c2ef22a8b0d0d46","inputs":0,"x":1030,"y":280,"wires":[["1e4bf23a0205d640","569f1875d25e8f3b","89d8956eee9b58f8"]]},{"id":"967cd3b697127f04","type":"ui_template","z":"8276b8b854912980","group":"67b9d4725245a2e7","name":"Bowl Display","order":1,"width":"4","height":"6","format":"<style>\n.bol-mega-card{background:linear-gradient(135deg,#667eea 0%,#764ba2 100%);border-radius:25px;padding:30px;box-shadow:0 25px 70px rgba(102,126,234,0.4);text-align:center;position:relative;overflow:hidden;height:100%}\n.bol-mega-card::before{content:'';position:absolute;top:-50%;left:-50%;width:200%;height:200%;background:radial-gradient(circle,rgba(255,255,255,0.15) 0%,transparent 70%);animation:pulse 4s ease-in-out infinite}\n@keyframes pulse{0%,100%{transform:scale(1);opacity:0.5}50%{transform:scale(1.15);opacity:0.9}}\n.bol-icon-mega{font-size:72px;margin-bottom:15px;filter:drop-shadow(0 8px 20px rgba(0,0,0,0.4));position:relative;z-index:1;animation:float 3s ease-in-out infinite}\n@keyframes float{0%,100%{transform:translateY(0)}50%{transform:translateY(-10px)}}\n.bol-label-mega{color:#e0e7ff;font-size:16px;font-weight:700;text-transform:uppercase;letter-spacing:3px;position:relative;z-index:1;margin-bottom:20px}\n.bol-gauge-container{position:relative;width:180px;height:180px;margin:20px auto;z-index:1}\n.bol-gauge-bg{width:100%;height:100%;border-radius:50%;background:rgba(255,255,255,0.1);position:relative;overflow:hidden}\n.bol-gauge-fill{position:absolute;bottom:0;left:0;right:0;background:linear-gradient(180deg,#60a5fa 0%,#3b82f6 50%,#2563eb 100%);transition:height 1s ease;border-radius:0 0 50% 50%}\n.bol-gauge-wave{position:absolute;bottom:0;left:-50%;width:200%;height:100%;background:radial-gradient(ellipse at center,rgba(255,255,255,0.3) 0%,transparent 70%);animation:wave 4s linear infinite}\n@keyframes wave{0%{transform:translateX(0) translateY(0)}50%{transform:translateX(-25%) translateY(-5%)}100%{transform:translateX(-50%) translateY(0)}}\n.bol-value-mega{color:white;font-size:56px;font-weight:900;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);text-shadow:0 6px 25px rgba(0,0,0,0.5);z-index:2}\n.bol-unit-mega{color:#bfdbfe;font-size:20px;display:block;margin-top:8px}\n.bol-status{color:#a5f3fc;font-size:14px;font-weight:600;margin-top:15px;position:relative;z-index:1}\n</style>\n<div class=\"bol-mega-card\"><div class=\"bol-icon-mega\">🥣</div><div class=\"bol-label-mega\">Bowl Level</div><div class=\"bol-gauge-container\"><div class=\"bol-gauge-bg\"><div class=\"bol-gauge-fill\" id=\"bol-fill\"><div class=\"bol-gauge-wave\"></div></div></div><div class=\"bol-value-mega\" id=\"bol-val\">0<span class=\"bol-unit-mega\">cm</span></div></div><div class=\"bol-status\" id=\"bol-status\">● Normal</div></div>\n<script>(function(scope){scope.$watch('msg',function(msg){if(msg&&msg.payload){const val=parseFloat(msg.payload);const fill=document.getElementById('bol-fill');const valEl=document.getElementById('bol-val');const status=document.getElementById('bol-status');const percent=(val/40)*100;fill.style.height=percent+'%';valEl.innerHTML=val+'<span class=\"bol-unit-mega\">cm</span>';if(val<15){status.innerHTML='● Excellent';status.style.color='#6ee7b7'}else if(val<25){status.innerHTML='● Good';status.style.color='#fcd34d'}else{status.innerHTML='● Low';status.style.color='#fca5a5'}}})})(scope)</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1270,"y":160,"wires":[[]]},{"id":"157201739f96546b","type":"ui_template","z":"8276b8b854912980","group":"67b9d4725245a2e7","name":"Reservoir Display","order":2,"width":"4","height":"6","format":"<style>\n.res-mega-card{background:linear-gradient(135deg,#f093fb 0%,#f5576c 100%);border-radius:25px;padding:30px;box-shadow:0 25px 70px rgba(245,87,108,0.4);text-align:center;position:relative;overflow:hidden;height:100%}\n.res-mega-card::before{content:'';position:absolute;top:-50%;right:-50%;width:200%;height:200%;background:radial-gradient(circle,rgba(255,255,255,0.2) 0%,transparent 70%);animation:pulse-reverse 5s ease-in-out infinite}\n@keyframes pulse-reverse{0%,100%{transform:scale(1) rotate(0deg);opacity:0.5}50%{transform:scale(1.15) rotate(180deg);opacity:0.9}}\n.res-icon-mega{font-size:72px;margin-bottom:15px;filter:drop-shadow(0 8px 20px rgba(0,0,0,0.4));position:relative;z-index:1;animation:bounce 2s ease-in-out infinite}\n@keyframes bounce{0%,100%{transform:scale(1)}50%{transform:scale(1.1)}}\n.res-label-mega{color:#ffe0e6;font-size:16px;font-weight:700;text-transform:uppercase;letter-spacing:3px;position:relative;z-index:1;margin-bottom:20px}\n.res-gauge-container{position:relative;width:180px;height:180px;margin:20px auto;z-index:1}\n.res-gauge-bg{width:100%;height:100%;border-radius:50%;background:rgba(255,255,255,0.1);position:relative;overflow:hidden}\n.res-gauge-fill{position:absolute;top:0;left:0;right:0;background:linear-gradient(180deg,#ef4444 0%,#f59e0b 50%,#10b981 100%);transition:height 1s ease;border-radius:50% 50% 0 0}\n.res-value-mega{color:white;font-size:56px;font-weight:900;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);text-shadow:0 6px 25px rgba(0,0,0,0.5);z-index:2}\n.res-unit-mega{color:#fecdd3;font-size:20px;display:block;margin-top:8px}\n.res-status{color:#fde68a;font-size:14px;font-weight:600;margin-top:15px;position:relative;z-index:1}\n.res-particles{position:absolute;top:0;left:0;width:100%;height:100%;pointer-events:none}\n.particle{position:absolute;width:4px;height:4px;background:rgba(255,255,255,0.6);border-radius:50%;animation:particle-float 3s linear infinite}\n@keyframes particle-float{0%{transform:translateY(100%) scale(0);opacity:0}50%{opacity:1}100%{transform:translateY(-100%) scale(1);opacity:0}}\n</style>\n<div class=\"res-mega-card\"><div class=\"res-particles\"></div><div class=\"res-icon-mega\">🗄️</div><div class=\"res-label-mega\">Food Reservoir</div><div class=\"res-gauge-container\"><div class=\"res-gauge-bg\"><div class=\"res-gauge-fill\" id=\"res-fill\"></div></div><div class=\"res-value-mega\" id=\"res-val\">0<span class=\"res-unit-mega\">cm</span></div></div><div class=\"res-status\" id=\"res-status\">● Full</div></div>\n<script>(function(scope){scope.$watch('msg',function(msg){if(msg&&msg.payload){const val=parseFloat(msg.payload);const fill=document.getElementById('res-fill');const valEl=document.getElementById('res-val');const status=document.getElementById('res-status');const percent=(val/100)*100;fill.style.height=percent+'%';valEl.innerHTML=val+'<span class=\"res-unit-mega\">cm</span>';if(val<30){status.innerHTML='● Full';status.style.color='#6ee7b7'}else if(val<70){status.innerHTML='● Medium';status.style.color='#fcd34d'}else{status.innerHTML='⚠ Low';status.style.color='#fca5a5'}}})})(scope)</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1300,"y":220,"wires":[[]]},{"id":"89d8956eee9b58f8","type":"function","z":"8276b8b854912980","name":"Daily Total","func":"let total=context.get('dailyTotal')||0;let lastReset=context.get('lastReset')||new Date().toDateString();let currentDate=new Date().toDateString();if(lastReset!==currentDate){total=0;context.set('lastReset',currentDate)}if(msg.payload&&!isNaN(msg.payload)){total+=parseFloat(msg.payload);context.set('dailyTotal',total)}msg.payload=Math.round(total);return msg;","outputs":1,"noerr":0,"x":1270,"y":360,"wires":[["13cd8687a0ebc5b5"]]},{"id":"13cd8687a0ebc5b5","type":"ui_template","z":"8276b8b854912980","group":"67b9d4725245a2e7","name":"Daily Card","order":5,"width":"4","height":"6","format":"<style>\n.daily-card{background:linear-gradient(135deg,#4facfe 0%,#00f2fe 100%);border-radius:20px;padding:30px;box-shadow:0 20px 60px rgba(79,172,254,0.4);text-align:center;position:relative;overflow:hidden;height:100%;display:flex;flex-direction:column;justify-content:center}\n.daily-card::after{content:'';position:absolute;bottom:-50%;left:-50%;width:200%;height:200%;background:radial-gradient(circle,rgba(255,255,255,0.2) 0%,transparent 70%);animation:rotate-pulse 6s linear infinite}\n@keyframes rotate-pulse{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}\n.daily-icon{font-size:64px;margin-bottom:15px;filter:drop-shadow(0 8px 20px rgba(0,0,0,0.3));position:relative;z-index:1}\n.daily-label{color:#e0f2fe;font-size:16px;font-weight:600;text-transform:uppercase;letter-spacing:2px;position:relative;z-index:1}\n.daily-value{color:white;font-size:56px;font-weight:900;margin:15px 0;text-shadow:0 8px 30px rgba(0,0,0,0.4);position:relative;z-index:1}\n.daily-unit{color:#bae6fd;font-size:24px;display:block;margin-top:5px}\n.daily-trend{color:#10b981;font-size:18px;font-weight:700;margin-top:15px;position:relative;z-index:1}\n</style>\n<div class=\"daily-card\"><div class=\"daily-icon\">📊</div><div class=\"daily-label\">Today's Total</div><div class=\"daily-value\">{{msg.payload}}<span class=\"daily-unit\">grams</span></div><div class=\"daily-trend\">↗ +5% vs yesterday</div></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1470,"y":360,"wires":[[]]},{"id":"709a1044eb8be887","type":"ui_template","z":"8276b8b854912980","group":"7c823fd57667741a","name":"Chart Header","order":0,"width":"12","height":"2","format":"<style>.chart-header{background:linear-gradient(135deg,#667eea 0%,#764ba2 100%);border-radius:15px;padding:20px 30px;box-shadow:0 10px 40px rgba(102,126,234,0.3);display:flex;align-items:center;justify-content:space-between;margin-bottom:10px}.chart-title{color:white;font-size:24px;font-weight:800;display:flex;align-items:center;gap:15px}.chart-icon{font-size:32px;filter:drop-shadow(0 4px 10px rgba(0,0,0,0.3))}.chart-subtitle{color:#e0e7ff;font-size:14px;margin-top:5px}</style>\n<div class=\"chart-header\"><div><div class=\"chart-title\"><span class=\"chart-icon\">📈</span><div><div>Daily Consumption Analytics</div><div class=\"chart-subtitle\">Real-time feeding patterns</div></div></div></div></div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1280,"y":420,"wires":[[]]},{"id":"1e4bf23a0205d640","type":"ui_chart","z":"8276b8b854912980","name":"Consumption Chart","group":"7c823fd57667741a","order":1,"width":"12","height":"7","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"🍽️ No data yet","dot":true,"ymin":"0","ymax":"","removeOlder":"24","removeOlderPoints":"1440","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#8b5cf6","#ec4899","#06b6d4","#10b981","#f59e0b","#ef4444","#6366f1","#84cc16","#f97316"],"outputs":1,"useDifferentColor":false,"x":1290,"y":460,"wires":[["72b70a43f815f26f","fdbf5776938c0114"]]},{"id":"72b70a43f815f26f","type":"ui_template","z":"8276b8b854912980","group":"5fca457dbe0060cc","name":"Weekly Header","order":1,"width":"12","height":"2","format":"<style>.weekly-header{background:linear-gradient(135deg,#fa709a 0%,#fee140 100%);border-radius:15px;padding:20px 30px;box-shadow:0 10px 40px rgba(250,112,154,0.3);display:flex;align-items:center;justify-content:space-between}.weekly-title{color:white;font-size:24px;font-weight:800;display:flex;align-items:center;gap:15px}.weekly-icon{font-size:32px;filter:drop-shadow(0 4px 10px rgba(0,0,0,0.3))}.weekly-subtitle{color:#fff5e1;font-size:14px;margin-top:5px}</style>\n<div class=\"weekly-header\"><div><div class=\"weekly-title\"><span class=\"weekly-icon\">📅</span><div><div>Weekly Overview</div><div class=\"weekly-subtitle\">7-day consumption trends</div></div></div></div></div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1280,"y":520,"wires":[[]]},{"id":"fdbf5776938c0114","type":"ui_chart","z":"8276b8b854912980","name":"Weekly Chart","group":"5fca457dbe0060cc","order":2,"width":"12","height":"6","label":"","chartType":"bar","legend":"false","xformat":"auto","interpolate":"linear","nodata":"📅 Building weekly data...","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#10b981","#06b6d4","#8b5cf6","#f59e0b","#ef4444","#ec4899","#6366f1"],"outputs":1,"useDifferentColor":false,"x":1280,"y":560,"wires":[[]]},{"id":"e2b6620618bcede9","type":"ui_template","z":"8276b8b854912980","group":"1cc0c3fcdde27af8","name":"Feed Button","order":1,"width":"6","height":"3","format":"<style>.feed-btn-container{display:flex;justify-content:center;align-items:center;height:100%}.feed-button{background:linear-gradient(135deg,#f093fb 0%,#f5576c 100%);border:none;border-radius:20px;padding:30px 60px;font-size:28px;font-weight:900;color:white;cursor:pointer;box-shadow:0 15px 50px rgba(245,87,108,0.5);transition:all 0.3s ease;text-transform:uppercase;letter-spacing:2px;position:relative;overflow:hidden}.feed-button::before{content:'';position:absolute;top:50%;left:50%;width:0;height:0;border-radius:50%;background:rgba(255,255,255,0.3);transform:translate(-50%,-50%);transition:width 0.6s,height 0.6s}.feed-button:hover::before{width:300px;height:300px}.feed-button:hover{transform:scale(1.05) translateY(-5px);box-shadow:0 20px 60px rgba(245,87,108,0.6)}.feed-button:active{transform:scale(0.95)}.feed-icon{font-size:40px;margin-right:15px;animation:bounce 2s infinite}@keyframes bounce{0%,100%{transform:translateY(0)}50%{transform:translateY(-10px)}}</style>\n<div class=\"feed-btn-container\"><button class=\"feed-button\" ng-click=\"send({payload:'feed'})\"><span class=\"feed-icon\">🍽️</span>FEED NOW</button></div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1270,"y":640,"wires":[["6df2c710d89054f6","94203af2bfcd5200"]]},{"id":"6df2c710d89054f6","type":"mqtt out","z":"8276b8b854912980","name":"Send Command","topic":"petfeeder/commande","qos":"0","retain":false,"broker":"8c2ef22a8b0d0d46","x":1490,"y":640,"wires":[]},{"id":"94203af2bfcd5200","type":"ui_toast","z":"8276b8b854912980","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Feed Toast","x":1470,"y":680,"wires":[]},{"id":"cc966bd8b0f43696","type":"ui_template","z":"8276b8b854912980","group":"1cc0c3fcdde27af8","name":"Schedule Display","order":2,"width":"6","height":"8","format":"<style>.schedule-container{background:linear-gradient(135deg,#667eea 0%,#764ba2 100%);border-radius:20px;padding:25px;box-shadow:0 15px 50px rgba(102,126,234,0.4)}.schedule-header{color:white;font-size:20px;font-weight:800;margin-bottom:20px;display:flex;align-items:center;gap:10px}.schedule-icon{font-size:28px}.schedule-item{background:rgba(255,255,255,0.15);backdrop-filter:blur(10px);border-radius:15px;padding:20px;margin-bottom:15px;display:flex;justify-content:space-between;align-items:center;transition:all 0.3s ease}.schedule-item:hover{background:rgba(255,255,255,0.25);transform:translateX(5px)}.schedule-time{color:white;font-size:32px;font-weight:900}.schedule-days{color:#e0e7ff;font-size:12px;margin-top:5px}.schedule-toggle{width:60px;height:30px;background:#10b981;border-radius:15px;position:relative;cursor:pointer;transition:all 0.3s ease}.schedule-toggle.off{background:#ef4444}.schedule-toggle::after{content:'';position:absolute;width:26px;height:26px;background:white;border-radius:50%;top:2px;right:2px;transition:all 0.3s ease;box-shadow:0 2px 5px rgba(0,0,0,0.2)}.schedule-toggle.off::after{right:auto;left:2px}.delete-btn{background:rgba(239,68,68,0.8);color:white;border:none;border-radius:10px;padding:8px 15px;cursor:pointer;font-size:14px;font-weight:600;margin-left:10px;transition:all 0.3s ease}.delete-btn:hover{background:rgba(239,68,68,1);transform:scale(1.05)}.add-schedule{background:rgba(255,255,255,0.2);border:2px dashed rgba(255,255,255,0.4);border-radius:15px;padding:20px;text-align:center;color:white;font-size:16px;font-weight:700;cursor:pointer;transition:all 0.3s ease}.add-schedule:hover{background:rgba(255,255,255,0.3);border-color:rgba(255,255,255,0.6)}.modal{display:none;position:fixed;z-index:1000;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.7);backdrop-filter:blur(5px)}.modal.show{display:flex;align-items:center;justify-content:center}.modal-content{background:linear-gradient(135deg,#667eea 0%,#764ba2 100%);border-radius:20px;padding:30px;max-width:400px;width:90%;box-shadow:0 20px 60px rgba(0,0,0,0.5)}.modal-title{color:white;font-size:24px;font-weight:800;margin-bottom:20px;text-align:center}.modal-input{width:100%;padding:15px;border:2px solid rgba(255,255,255,0.3);border-radius:10px;background:rgba(255,255,255,0.1);color:white;font-size:16px;margin-bottom:15px;box-sizing:border-box}.modal-input::placeholder{color:rgba(255,255,255,0.5)}.modal-input:focus{outline:none;border-color:rgba(255,255,255,0.6);background:rgba(255,255,255,0.15)}.modal-buttons{display:flex;gap:10px;margin-top:20px}.modal-btn{flex:1;padding:15px;border:none;border-radius:10px;font-size:16px;font-weight:700;cursor:pointer;transition:all 0.3s ease}.modal-btn.save{background:#10b981;color:white}.modal-btn.save:hover{background:#059669;transform:scale(1.05)}.modal-btn.cancel{background:rgba(255,255,255,0.2);color:white}.modal-btn.cancel:hover{background:rgba(255,255,255,0.3)}</style>\n<div class=\"schedule-container\"><div class=\"schedule-header\"><span class=\"schedule-icon\">⏰</span>Feeding Schedule</div><div id=\"schedules-list\"></div><div class=\"add-schedule\" onclick=\"openModal()\">➕ Add New Schedule</div></div>\n<div id=\"modal\" class=\"modal\"><div class=\"modal-content\"><div class=\"modal-title\">Add New Schedule</div><input type=\"time\" id=\"time-input\" class=\"modal-input\" placeholder=\"Select time\"><div class=\"modal-buttons\"><button class=\"modal-btn cancel\" onclick=\"closeModal()\">Cancel</button><button class=\"modal-btn save\" onclick=\"saveSchedule()\">Save</button></div></div></div>\n<script>(function(scope){let schedules=[{time:'08:00',enabled:true},{time:'18:00',enabled:true}];function render(){const list=document.getElementById('schedules-list');list.innerHTML='';schedules.forEach((s,i)=>{const div=document.createElement('div');div.className='schedule-item';div.innerHTML=`<div><div class=\"schedule-time\">${s.time}</div><div class=\"schedule-days\">Mon • Tue • Wed • Thu • Fri • Sat • Sun</div></div><div style=\"display:flex;align-items:center;\"><div class=\"schedule-toggle ${s.enabled?'':'off'}\" onclick=\"toggleSchedule(${i})\"></div><button class=\"delete-btn\" onclick=\"deleteSchedule(${i})\">🗑️</button></div>`;list.appendChild(div)})}window.openModal=function(){document.getElementById('modal').classList.add('show');document.getElementById('time-input').value=''};window.closeModal=function(){document.getElementById('modal').classList.remove('show')};window.saveSchedule=function(){const time=document.getElementById('time-input').value;if(time){schedules.push({time:time,enabled:true});render();closeModal();scope.send({payload:'feed',topic:'schedule_added',schedule:time})}};window.toggleSchedule=function(i){schedules[i].enabled=!schedules[i].enabled;render();scope.send({payload:schedules[i].enabled?'enable':'disable',topic:'schedule_toggle',schedule:schedules[i].time})};window.deleteSchedule=function(i){if(confirm('Delete this schedule?')){schedules.splice(i,1);render();scope.send({payload:'delete',topic:'schedule_delete'})}};render()})(scope)</script>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1290,"y":720,"wires":[["b35ec11f0303fc07"]]},{"id":"b35ec11f0303fc07","type":"function","z":"8276b8b854912980","name":"Schedule Handler","func":"// Handle schedule events from UI\nif (msg.topic === 'schedule_added') {\n    node.warn('New schedule added: ' + msg.schedule);\n    // Here you can add logic to update cronplus node\n    msg.payload = 'feed';\n    msg.topic = 'petfeeder/commande';\n    return msg;\n}\n\nif (msg.topic === 'schedule_toggle') {\n    node.warn('Schedule toggled: ' + msg.schedule + ' - ' + msg.payload);\n}\n\nif (msg.topic === 'schedule_delete') {\n    node.warn('Schedule deleted');\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":720,"wires":[[]]},{"id":"1b447e605573b934","type":"ui_toast","z":"8276b8b854912980","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","topic":"","name":"Schedule Alert","x":1490,"y":800,"wires":[]},{"id":"34a9a1844834aea4","type":"function","z":"8276b8b854912980","name":"Insert bol","func":"msg.topic=`INSERT INTO bol (distance_cm) VALUES (${msg.payload});`;return msg;","outputs":1,"x":1250,"y":880,"wires":[["c5e43fdd8fdaa1f9"]]},{"id":"bf67d20bebe72a66","type":"function","z":"8276b8b854912980","name":"Insert reservoir","func":"msg.topic=`INSERT INTO reservoir (distance_cm) VALUES (${msg.payload});`;return msg;","outputs":1,"x":1270,"y":920,"wires":[["c5e43fdd8fdaa1f9"]]},{"id":"569f1875d25e8f3b","type":"function","z":"8276b8b854912980","name":"Insert conso","func":"msg.topic=`INSERT INTO consommation (quantite_g) VALUES (${msg.payload});`;return msg;","outputs":1,"x":1260,"y":960,"wires":[["c5e43fdd8fdaa1f9"]]},{"id":"e40d77f7e8326d34","type":"function","z":"8276b8b854912980","name":"Reservoir Check","func":"const LIMITE=26;let d=parseFloat(msg.payload);if(!isNaN(d)&&d>LIMITE){msg.payload=`⚠️ Réservoir vide! Distance=${d}cm`;return msg;}return null;","outputs":1,"x":1280,"y":1000,"wires":[["1c1d1f0cfcaf71f1","0ddeea22dc29072b"]]},{"id":"1c1d1f0cfcaf71f1","type":"telegram sender","z":"8276b8b854912980","name":"Telegram","bot":"ecdc927715fb02ac","haserroroutput":false,"outputs":1,"x":1470,"y":1000,"wires":[[]]},{"id":"0ddeea22dc29072b","type":"ui_toast","z":"8276b8b854912980","position":"top right","displayTime":"5","highlight":"red","sendall":true,"outputs":0,"ok":"OK","topic":"","name":"Alert","x":1450,"y":1040,"wires":[]},{"id":"c5e43fdd8fdaa1f9","type":"sqlite","z":"8276b8b854912980","mydb":"4a67cf97d3fcb296","sql":"","name":"DB","x":1450,"y":920,"wires":[[]]},{"id":"8c2ef22a8b0d0d46","type":"mqtt-broker","name":"localhost:1883","broker":"192.168.1.10","port":"1883","clientid":"nr-dashboard","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":15,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"67b9d4725245a2e7","type":"ui_group","name":"💎 Live Stats","tab":"f6c69d40a7419372","order":1,"disp":true,"width":"12","collapse":false},{"id":"7c823fd57667741a","type":"ui_group","name":"📈 Daily Analytics","tab":"f6c69d40a7419372","order":2,"disp":true,"width":"12","collapse":false},{"id":"5fca457dbe0060cc","type":"ui_group","name":"📅 Weekly Trends","tab":"f6c69d40a7419372","order":3,"disp":true,"width":"12","collapse":false},{"id":"1cc0c3fcdde27af8","type":"ui_group","name":"🎮 Control Center","tab":"f6c69d40a7419372","order":4,"disp":true,"width":"12","collapse":false},{"id":"ecdc927715fb02ac","type":"telegram bot","botname":"PetFeederBot","usernames":"","chatids":"","baseapiurl":"","testenvironment":false,"pollinterval":"","usesocks":false,"sockshost":"","socksport":"","socksusername":"","sockspassword":"","bothost":"","botpath":"","localbothost":"","localbotport":"","publicbotport":"","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"4a67cf97d3fcb296","type":"sqlitedb","db":"petfeeder.db","mode":"RWC"},{"id":"f6c69d40a7419372","type":"ui_tab","name":"🐾 PetFeeder Ultra","icon":"pets","order":1,"disabled":false,"hidden":false},{"id":"4c599f757afb2473","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6","node-red-contrib-telegrambot":"17.0.3","node-red-node-sqlite":"1.1.1"}}]